body{
	background-color: #333333 !important;
}

.top-row-style{
	padding-top: 200px;
	padding-bottom: 50px;
}

.btn-style{
	color: #FDE74C;
	background-color: #E55934;
	width: 100%;

}

.answer-block{
	height: 200px;
	border: 2px solid #E55934;
	color: white;
}
